html, body
    height: auto
    min-height: 100vh
    overflow-x: hidden

body
    font-family: bonvenocflight
    font-size: 18px
    background-color: $quill-gray
    margin: 0

#site-wrapper
    height: 100%
    min-height: 100vh

#site-canvas
    height: 100%
    min-height: 100vh
    transform: translateX(0)
    transform: translate3d(0, 0, 0)
    transition: 300ms ease all
    backface-visibility: hidden
    padding: 3%
    box-shadow: inset 0 0 100px rgba(68, 50, 63, 0.5)
    bottom: 0
    text-align: center
    top: 0
    position: relative

.show-nav .topbar
    transform: translateX(250px)
    transform: translate3d(250px, 0, 0)

.show-nav #site-menu
    transform: translateX(250px)
    transform: translate3d(250px, 0, 0)
    transition: 300ms ease all

.show-nav #site-canvas
    transform: translateX(250px)
    transform: translate3d(250px, 0, 0)

#site-menu
    height: 100%
    min-height: 100vh
    width: 250px
    position: fixed
    top: 0
    left: -250px
    background-color: $quill-gray
    box-shadow: inset 0 0 65px rgba(68, 50, 63, 0.3)
    padding: 15px
    z-index: 1

.topbar
    position: fixed
    top: 0
    left: 0
    z-index: 1000
    background: rgba(68, 50, 63,0.1)
    width: 100%
    transition: 300ms ease all
    width: 100%


.menu-btn
    transition: 300ms ease all
    font-size: 2em
    margin: 3px
    float: left


body
    box-shadow: inset 0 0 100px rgba(68, 50, 63, 0.5)
    color: $scorpion
    font-size: 16px

h1,h2,h3,h4,h5,h6
    font-family: bonvenocflight
    font-weight: 500
    line-height: 1.1
    margin: 25px 0 0 0

h1
    text-transform: uppercase
    font-size: 3.0em

h3
    font-size: 1.20em

.preface
    padding: 30px 0px
    width: 90%
    margin: 0 auto
a
    color: $schooner

a:hover
    color: $edward

a:visited
    color: #5F305C

a:active
    color: $shark

.page
    max-width: 960px
    margin: 0 auto
    height: 100%
    min-height: 100vh

.menu
    padding: 0
    li
        list-style-type: none
        text-align: left



.monstrans
    width: 400px
    height: 540px
    background: url(../images/monstrans.svg)
    background-size: 400px 540px
    margin: 0 auto

.tiara
    width: 150px
    height: 150px
    background: url(../images/tiara3.svg)
    background-color: transparent
    background-size: 150px 150px
    margin: 0 auto

p
    text-align: left

.triangle
    width: 0px
    height: 0px
    border-style: inset
    border-left: 480px solid transparent
    border-right: 480px solid transparent
    border-top: 480px solid transparent
