.navigate-left
    position: relative
    bottom: 50vh
    right: 500px
    text-decoration: none
    &:hover
        color: $edward
        text-decoration: none

.navigate-right
    position: relative
    bottom: 50vh
    left: 500px
    text-decoration: none
    &:hover
        color: $edward
        text-decoration: none

