.navigate-left
    position: relative
    bottom: 50vh
    right: 500px
    text-decoration: none
    &:hover
        color: $edward
        text-decoration: none

.navigate-right
    position: relative
    bottom: 50vh
    left: 500px
    text-decoration: none
    &:hover
        color: $edward
        text-decoration: none

.page-chapter p
    &:nth-of-type(1)
        &:first-letter
            float: left
            font-size: 5em
            line-height: 60px
            padding: 6px 8px 2px 0px
            font-family: Georgia